@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

.header {
    font-family: Poppins, sans-serif;
    font-weight: bold;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}