@use "../../styles/common";

.signup-btn {
  width: 120px;
  border-radius: 30px;
  border-color: #414141;
  text-emphasis-color: #414141;
}
.signup-btn:hover {
  background-color: #727272;
  transition: 0.5s;
  border-color: #727272;
}
